.reserve{
    position: absolute;
    border:  1px solid grey;
    width: 40%;
    height:30%;
    background-color: rgb(243, 223, 223);
    transition: all 1.5s;
}

.ritem{
    border: 1px solid grey;
    
}
.rClose{
    float: right;
    cursor: pointer;
}
.rcontainer{
    
}