.forgot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
    background-color: rgb(255, 255, 255);

}
.reset-container{
    background-color: black;
}

input{
    padding: 10px;
}

.reset{
    background-color: teal;
    border-radius: 5px;
    border: none;
    color: white;
    height: 40px;
    width: 70px;
}
.reset:hover{
    background-color: green;
    color: white;
}
.forgot-container *{
    margin: 5px;
}