.forgot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

input{
    padding: 10px;
}

.reset{
    background-color: teal;
    border-radius: 5px;
    border: none;
    color: white;
    height: 40px;
    width: 70px;
}
button:hover{
    background-color: green;
    color: white;
}
.forgot-container *{
    margin: 10px;
}